TrainingData/DiscordChats
TrainingData/FineTuning
TrainingData/Cache

Model

Venv

__pycache__
unsloth_compiled_cache
.vscode




TEST.py
TEXT.txt

TEST2.py
TEST2OUTPUTS

ChatOld.py

TEST3.txt
Nothing.py